*{margin: 0;padding: 0;
font-family: 'Courier New', Courier, monospace;
font-size: 1em;
}
/*TITRES*/
h1,H2,H3{
    background-color: rgba(65, 61, 61, 0.664);
    color:white;
    margin: 8px;
    padding: 2px;
}
h1{
    text-align: center;
    font-size: 1.6em;
}
h2{
    font-size:  1.4em; 
}
h3{
    font-size: 1.2em;
    color: rgb(66, 36, 36);
    text-align: center;
}
/*TEXTES*/
p,figure>ul>li{
max-width: 600px;
margin: 20px;
background: #c0c0c0;
padding: 12px;
}

.txt-image{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
/*ILLUSTRATIONS*/
figure {

    padding: 5px;
    margin: 12px;
}
figure>img{
    max-width: 220px;
}
figcaption{
    border: thin #c0c0c0 solid;
    padding-left: 20px;
}
figcaption pre{
    background-color: pink;
}
/*MEDIAS*/
audio{
    margin: 4px;
}